<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label>email</label><input type="text" placeholder="alan@gmail.com" id="email"><br>
        <label>contraseña</label><input type="password" id="password">
        <button>iniciar sesion</button>
    </form>
    <script src="./login.js"></script>
</body>
</html>